* {
    min-width: 0;
}

body {
    font-family: sans-serif;
    text-align: center;
   
}

h1 {
    padding-top: 1.2rem;
    display: block;
}

ul {
    margin: 0 auto;
    list-style-type: none;
    padding-left: 0;
}

li {
    margin: 1rem auto;
    padding: 0.5rem;
    max-width: 95%;
    box-sizing: border-box;
}

img {
    max-width: 70%;
    height: auto;
    max-height: 10rem;
}

.artifact {
    background-color: rgb(194, 169, 124);
}

.legendary {
    background-color: orange;

}

.very.rare {
    background-color: rgb(218, 43, 218);
}

.rare {
    background-color: rgb(6, 116, 249);
}

.uncommon {
    background-color: rgb(6, 196, 6);
}

.common {
    border: 0.3rem solid grey;
}

.button { 
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    width: 100%;
    margin: 0.5rem auto;
    max-width: 20rem;
  }

  li.common button{
    padding: 0.8rem 1.8rem;
    border: grey 0.2rem solid;
  }

  .button:hover {
    cursor: pointer;
  }

  @media only screen and (min-width:480px) {

    ul {
        display: grid;
        grid-template:
        [row1-start] '1 1' [row1-end]
        /1fr 1fr;
        column-gap: 0rem;
        row-gap: 1rem;
        
        
    }

    li {
        margin: 0 auto;  
    }

  }

  @media only screen and (min-width:768px) {

    ul {
        display: grid;
        grid-template:
        [row1-start] "product-item product-item product-item" min-content [row1-end]
        
        /1fr 1fr 1fr;
    }
  }